<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Name of the person</title>
    <link rel="stylesheet" href="{% static 'css/portfolio_base/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio_base/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio_base/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio_base/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio_base/tooplate-style.css' %}">

  </head>