{% load static %}
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="profile.html"><img src="{% static 'img/ui-sam.jpg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Marcel Newman</h5>

                  <li class="mt">
                      <a class="active" href="{% url 'basic_data' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a href="{% url 'basic_data' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Basic Information</span>
                      </a>

                      <a href="{% url 'certificates' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Certificates</span>
                      </a>

                      <a href="{% url 'skills' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Skills</span>
                      </a>

                      <a href="{% url 'education' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Education</span>
                      </a>

                      <a href="{% url 'work_experience' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Work Experience</span>
                      </a>

                      <a href="{% url 'social_media' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Social Media</span>
                      </a>

                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>